<% include ../partials/header.ejs %>

<main class="settings">
    <div class="settings__heading-container">
        <div class="settings__heading-content-container">
            <h1 class="settings__heading">
                Instellingen
            </h1>
        </div>
    </div>
    <div class="settings__container"></div>
</main>

<% include ../partials/footer.ejs %>