<div class="popup">
    <div class="popup__container">
        <h1 class="popup__heading">Tutorial</h1>
        <div class="popup__slides">
            <div class="popup__slide active">
                <p class="popup__text">
                    Met tafelen kan je gemakkelijk online lessen volgen.<br><br>
                    Lessen zijn onder de lessen
                    tab te vinden. Hier kan je een les bijwonen in het aangegeven tijdslot.
                </p>
                <div class="popup__image-container">
                    <img src="/img/popup/slide 1.png" alt="">
                </div>
            </div>
            <div class="popup__slide">
                <p class="popup__text">
                    Eenmaal in de les kan je bij een tafel aanschuiven.<br><br>
                    Wanneer je bij een tafel aanschuift kom je in een call terecht met de mensen die hier al aanwezig zijn.
                </p>
                <div class="popup__image-container">
                    <img src="/img/popup/slide 2.png" alt="">
                </div>
            </div>
            <div class="popup__slide">
                <p class="popup__text">
                    Tafels zijn van elkaar afgesloten en de docent. Dus alleen je tafelgenoten kunnen je horen en zien tijdens de les.<br><br>
                    Jij kan natuurlijk wel de docent zien en horen om de les te kunnen volgen.
                </p>
                <div class="popup__image-container">
                    <img src="/img/popup/slide 3.png" alt="">
                </div>
            </div>
        </div>
        <div class="popup__slide-controls">
            <div class="popup__close"></div>
            <div class="popup__prev">
                <span>Vorige</span>
            </div>
            <div class="popup__next">
                <span class="active">Volgende</span>
                <span>Sluiten</span>
            </div>
            <div class="popup__slide-indicator">
                <div class="popup__slide-ball active"></div>
                <div class="popup__slide-ball"></div>
                <div class="popup__slide-ball"></div>
            </div>
        </div>
    </div>
</div>