$color-black: #262626;
$color-white: #fff;
$color-gray: #f1f1f1;

$color-green: #a4c3b2;
$color-green--dark: #6b9080;
$color-green--light:#cce3de;

$color-red: #ff595e;

$color-orange: #ff8566;

$color-yellow: #ffd166;

$color-blue: #6694ff;