$color-black: #272635;
$color-white: #fff;
$color-gray: #e8e9f3;
$color-gray--light: #f1f1f7;

$color-green: #06d6a0;
$color-green--dark: #49ab81;
$color-green--darker: #2f7d5f;
$color-green--darkest: #185946;

$color-purple--lighter: #c4c1f0;
$color-purple--light: #8a84e2;
$color-purple: #7d7cde;
$color-purple--dark: #585ab6;
$color-purple--darker: #3b3b88;
$color-purple--darkest: #242164;

$color-red--light: #ff5453;
$color-red: #de2f33;
$color-red--dark: #b61d29;
$color-red--darker: #880f14;
$color-red--darkest: #640200;

$color-yellow--light: #f0dfa1;
$color-yellow: #e2c044;
$color-yellow--dark: #b69b2b;
$color-yellow--darker: #887419;
$color-yellow--darkest: #645608;

