$component: 'fb';

.#{$component}{
    &__story{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        background-color: black;
        height: 100%;
        width: 100%;
        display: none;
        &.active{
            display: block;
        }
    }
    &__story-trigger{
        position: absolute;
        width: 536px;
        top: 3.5rem;
        left: 50%;
        height: 200px;
        transform: translateX(-50%);
    }
    &__story-overlay{
        max-height: 100vh;
        max-width: 100vw;
    }
    &__story-menu{
        position: absolute;
        height: 100%;
        width: 19vw;
        overflow: hidden;
        background: white;
    }
    &__story-close{
        position: absolute;
        top: .75%;
        left: 5.5%;
        height: 2rem;
        width: 2rem;
    }
    &__story-item-overlay{
        .overlay{
            &-bottom{
                position: absolute;
                height: 3.5vw;
                overflow: hidden;
                width: 58vw;
                bottom: 0;
                right: 0;
                img{
                    max-height: 100vh;
                    max-width: 100vw; 
                    position: absolute;
                    bottom: 0;
                    right: 0;  
                }
            }
        }
    }
    &__story-item{
        position: absolute;
        background-color: #4D4D4D;
        height: 90vh;
        width: 35.5vw;
        border-radius: 8px;
        left: calc(10vw + 50%);
        top: 3vh;
        // min-width: 515px;
        transform: translateX(-50%);
        opacity: 0;
        transition: .3s ease all;
        &.active{
            opacity: 1;
        }
        span{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            display: block;
            color: white;
            text-align: center;
            transform: translate(-50%,-50%);
            font-style: italic;
        }
        .img-container{
            height: 8vh;
            overflow: hidden;
        }
        img{
            display: block;
            margin: auto;
            max-width: 95%;
        }
    }
    &__controls{
        &-prev,
        &-next{
            position: absolute;
            height: 3rem;
            width: 3rem;
            top: 50%;
            border-radius: 50%;
            background-color: #FFF;
            transition: .3s ease all;
            &.hidden{
                opacity: 0;
                pointer-events: none;
            }
        }
        &-prev{
            left: 35%;
            &:hover{
                left: 34%;
            }
        }
        &-next{
            left: 80.5%;
            &:hover{
                left: 81.5%;
            }
        }
    }
}

.mobile .#{$component}{
    &__story{
        z-index: 999999;
    }
    &__story-trigger{
        top: 7.5rem;
    }
    &__story-close{
        top: 2.75%;
        right: 1.5%;
        left: auto;
        z-index: 1;
    }
    &__story-item{
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        transform: none;
        .img-container-2{
            height: 8vh;
            overflow: hidden;
            position: absolute;
            bottom: 1vh;
            width: 100%;
            img{
                position: absolute; 
                margin: auto;
                bottom: 0;
                max-width: 95%;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    &__controls{
        &-prev,
        &-next{
            position: absolute;
            height: 90vh;
            width: 50%;
            top: 10vh;
            transition: .3s ease all;
            background-color: transparent;
            border-radius: 0;
            z-index: 1;
            &.hidden{
                opacity: 0;
                pointer-events: none;
            }
        }
        &-prev{
            left: 0;
            &:hover{
                left: 0;
            }
        }
        &-next{
            left: 50%;
            &:hover{
                left: 50%;
            }
        }
    }
}