$component: 'main-nav';
$menu-icon-size: 1.5rem;
.#{$component}{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh; 
    width: 120px;
    padding: 2rem 0;
    z-index: 9;
    background-color: $color-white;

    &__list-container{
        display: flex;
        height: 100%;
        justify-content: flex-start;
        flex-direction: column;
    }
    &__list{
        height: 100%;
    }
    &__list-item{
        position: relative;
        transition: .3s ease all;
        &:hover{
            color: rgba($color-black, .75);
        }
        &:not(:last-child){
            margin-bottom: 1.5rem;
        }
        &:last-child{
            position: absolute;
            bottom: 0rem;
            left: 50%;
            transform: translateX(-50%);
        }
        &.item-active{
            color: $color-green;
            &:hover{
                color: rgba($color-green,.75);
            }
            &:before{
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: calc(100% + 1.25rem);
                transform: translate(-50%,-50%);
                background-color: $color-gray--light;
            }
        }
    }
    &__list-icon{
        display: inline-block;
        text-align: center;
        svg{
            max-width: $menu-icon-size;
            max-height: $menu-icon-size;
        }
    }
    &__list-label{
        font-size: .875rem;
        text-align: center;
    }
    &__list-url{
        display: flex;
        flex-direction: column;
        color: inherit;
    }
}