<% include ../partials/header.ejs %>

<main class="classroom">
    <div class="classroom__container">
        <div class="classroom__video"></div>
    </div>
</main>

<% include ../partials/footer.ejs %>