<% include ../partials/header.ejs %>

<main class="classes">
    <div class="classes__heading-container">
        <div class="classes__heading-content-container">
            <h1 class="classes__heading">
                Lessen
            </h1>
        </div>
    </div>
    <div class="classes__container">
        <% include ./classList.ejs %>
    </div>
</main>

<% include ../partials/footer.ejs %>