<ul class="classroom__tables-list">
    <li class="classroom__tables-list-item">
        <div class="classroom__table-container" data-table="t1">
            <div class="classroom__chair" data-chair="t1-1">                
                <span class="classroom__chair--label"></span>
            </div>
            <div class="classroom__chair" data-chair="t1-2">
                <span class="classroom__chair--label"></span>
            </div>
            <div class="classroom__chair" data-chair="t1-3">
                <span class="classroom__chair--label"></span>
            </div>
            <div class="classroom__chair" data-chair="t1-4">
                <span class="classroom__chair--label"></span>
            </div>
            <div class="classroom__table">
                <span class="classroom__table-label">
                    Tafel A
                </span>
            </div>
        </div>
    </li>
    <li class="classroom__tables-list-item">
        <div class="classroom__table-container" data-table="t2">
            <div class="classroom__chair seated" data-chair="t2-1">
                <div class="classroom__chair-container">
                    <img class="classroom__chair--image" src="/img/profile/pf2.png"/>
                </div>
                <span class="classroom__chair--label">Amanda B.</span>
            </div>
            <div class="classroom__chair seated" data-chair="t2-2">
                <div class="classroom__chair-container">
                    <img class="classroom__chair--image" src="/img/profile/pf3.png"/>
                </div>
                <span class="classroom__chair--label">Jack C.</span>
            </div>
            <div class="classroom__chair" data-chair="t2-3">
                <span class="classroom__chair--label"></span>
            </div>
            <div class="classroom__chair" data-chair="t2-4">
                <span class="classroom__chair--label"></span>
            </div>
            <div class="classroom__table">
                <span class="classroom__table-label">
                    Tafel B
                </span>
            </div>
        </div>
    </li>
    <li class="classroom__tables-list-item">
        <div class="classroom__table-container" data-table="t3">
            <div class="classroom__chair seated" data-chair="t3-1">
                <div class="classroom__chair-container">
                    <img class="classroom__chair--image" src="/img/profile/pf6.png"/>
                </div>
                <span class="classroom__chair--label">Bea F.</span>
            </div>
            <div class="classroom__chair" data-chair="t3-2">
                <span class="classroom__chair--label"></span>
            </div>
            <div class="classroom__chair seated" data-chair="t3-3">
                <div class="classroom__chair-container">
                    <img class="classroom__chair--image" src="/img/profile/pf1.png"/>
                </div>
                <span class="classroom__chair--label">Nick B.</span>
            </div>
            <div class="classroom__chair seated" data-chair="t3-4">
                <div class="classroom__chair-container">
                    <img class="classroom__chair--image" src="/img/profile/pf4.png"/>
                </div>
                <span class="classroom__chair--label">Chrissy B.</span>
            </div>
            <div class="classroom__table">
                <span class="classroom__table-label">
                    Tafel C
                </span>
            </div>
        </div>
    </li>
    <li class="classroom__tables-list-item">
        <div class="classroom__table-container" data-table="t4">
            <div class="classroom__chair" data-chair="t4-1">
                <span class="classroom__chair--label"></span>
            </div>
            <div class="classroom__chair" data-chair="t4-2">
                <span class="classroom__chair--label"></span>
            </div>
            <div class="classroom__chair" data-chair="t4-3">
                <span class="classroom__chair--label"></span>
            </div>
            <div class="classroom__chair" data-chair="t4-4">
                <span class="classroom__chair--label"></span>
            </div>
            <div class="classroom__table">
                <span class="classroom__table-label">
                    Tafel D
                </span>
            </div>
        </div>
    </li>
    <li class="classroom__tables-list-item">
        <div class="classroom__table-container" data-table="t5">
            <div class="classroom__chair" data-chair="t5-1">
                <span class="classroom__chair--label"></span>
            </div>
            <div class="classroom__chair" data-chair="t5-2">
                <span class="classroom__chair--label"></span>
            </div>
            <div class="classroom__chair" data-chair="t5-3">
                <span class="classroom__chair--label"></span>
            </div>
            <div class="classroom__chair" data-chair="t5-4">
                <span class="classroom__chair--label"></span>
            </div>
            <div class="classroom__table">
                <span class="classroom__table-label">
                    Tafel E
                </span>
            </div>
        </div>
    </li>
    <li class="classroom__tables-list-item">
        <div class="classroom__table-container" data-table="t6">
            <div class="classroom__chair" data-chair="t6-1">
                <span class="classroom__chair--label"></span>
            </div>
            <div class="classroom__chair" data-chair="t6-2">
                <span class="classroom__chair--label"></span>
            </div>
            <div class="classroom__chair" data-chair="t6-3">
                <span class="classroom__chair--label"></span>
            </div>
            <div class="classroom__chair" data-chair="t6-4">
                <span class="classroom__chair--label"></span>
            </div>
            <div class="classroom__table">
                <span class="classroom__table-label">
                    Tafel F
                </span>
            </div>
        </div>
    </li>
</ul>